/* montserrat-regular - cyrillic_latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('../fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* montserrat-700italic - cyrillic_latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Montserrat';
     font-style: italic;
     font-weight: 700;
     src: url('../fonts/montserrat-v25-cyrillic_latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('../fonts/montserrat-v25-cyrillic_latin-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }


  @media (min-width:768px){
      body {
         margin: 0;
         padding: 0;
         background: url(./image/one.jpg) no-repeat center center fixed;
         background-size: cover;
         font-family: 'Montserrat';
         color: #fff;
         text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      }
      
      .container {
         max-width: 960px;
         margin: 0 auto;
         padding: 50px;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
      }
      
      .text-container {
         flex: 1;
         text-align: center;
         margin: 20px;
      }
      
      h1 {
         font-size: 3em;
         margin-bottom: 0.5em;
      }
      
      p {
         font-size: 1.5em;
         margin-bottom: 1.5em;
      }
      
      .img-container {
         flex: 1;
         margin: 10px;
         text-align: center;
      }
      
      img {
         max-width: 100%;
         height: auto;
      }
      .desktop-image {
         display: block; /* Display desktop image by default */
       }
     
       .mobile-image {
         display: none; /* Hide mobile image by default */
       }
   }
      

   @media (max-width: 767px) {
      body {
         margin: 0;
         padding: 0;
         background: url(./image/oneMob.jpg) no-repeat;
         background-size: cover;
         font-family: 'Montserrat';
         color: #fff;
         text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      }
      .desktop-image {
         display: none; /* Hide desktop image on mobile */
       }
   
       .mobile-image {
         display: block; /* Display mobile image on mobile */
       }

      .container {
         padding: 25px;
      }
      
      .text-container {
         flex: 0 0 100%;
         margin: 0;
      }
      
      h1 {
         font-size: 2em;
      }
      
      p {
         font-size: 1em;
      }
      
      .img-container {
         flex: 0 0 100%;
      }
   }
  
  