/* montserrat-regular - cyrillic_latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   src: url('./fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('./fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* montserrat-700italic - cyrillic_latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Montserrat';
   font-style: italic;
   font-weight: 700;
   src: url('./fonts/montserrat-v25-cyrillic_latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('./fonts/montserrat-v25-cyrillic_latin-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }


 @keyframes fade-in {
  from { opacity: 0; } /* Start with 0 opacity */
  to { opacity: 1; } /* End with full opacity */
}

    body {
      
       overflow: scroll;
       overflow-x: hidden;
       background: url(./image/Mobile/1.jpg) no-repeat;
       transition: 1s ease;
       background-size: cover;
       font-family: 'Montserrat';
       color: #fff;
       text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    .information-conatiner {
      opacity: 0; /* Start with 0 opacity */
      animation-name: fade-in; /* Name the animation */
      animation-duration: 7s; /* Set the duration of the animation */
      animation-fill-mode: forwards; /* Keep the opacity at 1 after animation is complete */
      
      width: 100% auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      float: center;
      align-content: flex-end;
    }
    .information-conatiner2 {
      opacity: 0; /* Start with 0 opacity */
      animation-name: fade-in; /* Name the animation */
      animation-duration: 8s; /* Set the duration of the animation */
      animation-fill-mode: forwards; /* Keep the opacity at 1 after animation is complete */
      
      width: 100%; 
      float: center;
    }

    .up-container {
      width: auto;
      padding: 0 auto;
      justify-content: space-between;
      align-items: center;
    }

    .bottom-container {
      opacity: 0; /* Start with 0 opacity */
      animation-name: fade-in; /* Name the animation */
      animation-duration: 7s; /* Set the duration of the animation */
      animation-fill-mode: forwards; /* Keep the opacity at 1 after animation is complete */
      
      width: auto;
      padding: 0 auto;
      justify-content: space-between;
      align-items: center;
      display: flex;
      margin: 50px;
      
   }
    
    
    .text-container {
       flex: 1;
       text-align: center;
    }
    .text-container2 {
      opacity: 0; /* Start with 0 opacity */
      animation-name: fade-in; /* Name the animation */
      animation-duration: 7s; /* Set the duration of the animation */
      animation-fill-mode: forwards; /* Keep the opacity at 1 after animation is complete */
      
      flex: 1;
      
      text-align: center;
    }
    
   
    
    .img-container {
       flex: 1;
       text-align: center;
       
    }

    .icon {
      min-width: 50px;
      max-width: 100px;
      height: auto;
   }
    
    img {
       max-width: 100%;
       height: auto;
    }
    
     .logo {                      /*Style logo*/
      /* Эвакуатор 24/7 */
      opacity: 0; /* Start with 0 opacity */
      animation-name: fade-in; /* Name the animation */
      animation-duration: 1s; /* Set the duration of the animation */
      animation-fill-mode: forwards; /* Keep the opacity at 1 after animation is complete */
      
      font-family: 'Montserrat';
      font-style: italic;
      font-weight: 700;
      font-size: 48px;
      line-height: 59px;
      text-align: center;
      margin-bottom: 200px;
      color: #FFFFFF;
     

      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
     }
     
     .paragraph{
      opacity: 0; /* Start with 0 opacity */
      animation-name: fade-in; /* Name the animation */
      animation-duration: 4s; /* Set the duration of the animation */
      animation-fill-mode: forwards; /* Keep the opacity at 1 after animation is complete */
      
     
      
      font-family: 'Montserrat';
      font-style: italic;
      font-weight: 700;
      font-size: 17px;
      line-height: 18px;
      text-align: center;
      
      color: #FFFFFF;
      
     }
     .paragraph img{
      height: 4%;
      width: 4%;
     }
     
     
     .ps{
      opacity: 0; /* Start with 0 opacity */
      animation-name: fade-in; /* Name the animation */
      animation-duration: 6s; /* Set the duration of the animation */
      animation-fill-mode: forwards; /* Keep the opacity at 1 after animation is complete */
      font-family: 'Montserrat';
      font-style: italic;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;

      color: #FFFFFF;
     }

     .phone{
      
      
      font-family: 'Montserrat';
      font-style: italic;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height */
      
      text-align: center;
      
      color: #FFFFFF;
      
     }
     
     .email{
      
      
      font-family: 'Montserrat';
      font-style: italic;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      
      color: #FFFFFF;
      
     }
     .circle-number-list {
      counter-reset: item;
      list-style: none;
      padding: 0;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 8px;
    }
    
    .circle-number-list {
      opacity: 0; /* Start with 0 opacity */
      animation-name: fade-in; /* Name the animation */
      animation-duration: 5s; /* Set the duration of the animation */
      animation-fill-mode: forwards; /* Keep the opacity at 1 after animation is complete */
      
      

      font-family: 'Montserrat';
      font-style: italic;
      font-weight: 700;
      font-size: 15px;
      line-height: 15px;
      text-align: center;

      color: #FFFFFF;

       
    }
    li{text-indent: 30px;}
    .circle-number-list li::before {
      content: "";
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      margin-bottom: 5px;
    }
    .developed{
      

      font-family: 'Montserrat';
      font-style: italic;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      /* identical to box height */

      text-align: center;

      color: #FFFFFF;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);

    }
    .link{
      color: #ffffff; /* Цвет обычной ссылки */
      position: relative;
      cursor: pointer;
      text-decoration: none; /* Убираем подчеркивание */
    }
    .link:after{
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: -3px;
      width: 0;
      height: 2px; /* Высота линии */
      background-color: rgb(255, 255, 255); /* Цвет подчеркивания при исчезании линии*/
      transition: width 0.5s; /* Время эффекта */
    }
    .link:hover:after {
      content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 2px; /* Высота линии */
        background-color: rgb(255, 255, 255); /* Цвет подчеркивания при появлении линии*/
        transition: width 0.5s;  /* Время эффекта */
    }
    

 
